<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.asae.saas.depotV2.dao.WmsDepotstockEnableMapper" >
  <resultMap id="BaseResultMap" type="cn.asae.saas.depotV2.entity.WmsDepotstockEnable" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="platform_id" property="platformId" jdbcType="INTEGER" />
    <result column="depot_id" property="depotId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="enableamount" property="enableamount" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, platform_id, depot_id, product_id, enableamount, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wms_depotstock_enable_v2
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wms_depotstock_enable_v2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.asae.saas.depotV2.entity.WmsDepotstockEnable" >
    insert into wms_depotstock_enable_v2 (id, platform_id, depot_id, 
      product_id, enableamount, status
      )
    values (#{id,jdbcType=INTEGER}, #{platformId,jdbcType=INTEGER}, #{depotId,jdbcType=INTEGER}, 
      #{productId,jdbcType=VARCHAR}, #{enableamount,jdbcType=DECIMAL}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.asae.saas.depotV2.entity.WmsDepotstockEnable" >
    insert into wms_depotstock_enable_v2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="platformId != null" >
        platform_id,
      </if>
      <if test="depotId != null" >
        depot_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="enableamount != null" >
        enableamount,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="platformId != null" >
        #{platformId,jdbcType=INTEGER},
      </if>
      <if test="depotId != null" >
        #{depotId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="enableamount != null" >
        #{enableamount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.asae.saas.depotV2.entity.WmsDepotstockEnable" >
    update wms_depotstock_enable_v2
    <set >
      <if test="platformId != null" >
        platform_id = #{platformId,jdbcType=INTEGER},
      </if>
      <if test="depotId != null" >
        depot_id = #{depotId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="enableamount != null" >
        enableamount = #{enableamount,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.asae.saas.depotV2.entity.WmsDepotstockEnable" >
    update wms_depotstock_enable_v2
    set platform_id = #{platformId,jdbcType=INTEGER},
      depot_id = #{depotId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=VARCHAR},
      enableamount = #{enableamount,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>